<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399760004242-ijakp7pfhcl7kmdh4iesvpu9bup175ml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399760004242-ijakp7pfhcl7kmdh4iesvpu9bup175ml</string>
	<key>API_KEY</key>
	<string>AIzaSyCoUfOLBv6MUun0pq4Yj9EFlCmFADJuHys</string>
	<key>GCM_SENDER_ID</key>
	<string>399760004242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>go.th.moph.helping</string>
	<key>PROJECT_ID</key>
	<string>helping-hand-87a20</string>
	<key>STORAGE_BUCKET</key>
	<string>helping-hand-87a20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399760004242:ios:c90d5fea308a3476</string>
	<key>DATABASE_URL</key>
	<string>https://helping-hand-87a20.firebaseio.com</string>
</dict>
</plist>